.project-card {
  width: 320px;
  box-shadow: 0px 0px 5px 0px gray;
  border-radius: 1rem;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 520px;
  gap: 0.5rem;
}

.project-card img {
  width: 100%;
  height: 30%;
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
}
.project-card h3 {
}

.project-card .features {
  /* display: flex; */
  flex-direction: column;
  height: 40%;
  padding: 0 0.5rem;
}

.project-card .features li {
  font-size: 0.8rem;
  list-style: circle;
}
.project-card .buttons {
  margin-top: 1rem;
}
.project-card .buttons a {
  width: 100%;
}
