#home {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  margin-top: 3rem;
}
.home-details {
  width: 50%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.home-details h1 span {
  font-family: "Preahvihear", sans-serif;
  font-size: 2rem;
  color: orange;
}
.home-details p,
li {
  font-weight: 300;
  text-align: justify;
}
.home-details p span {
  display: block;
}
ul li {
  padding-bottom: 0.5rem;
}
.buttons {
  display: flex;
  gap: 1rem;
}

.buttons a {
  color: black;
}

.home-image {
  width: 50%;
}
.home-image img {
  width: 100%;
  border-radius: 1rem;
}
@media screen and (max-width: 500px) {
  .home-details h1 span {
    display: block;
  }
}
@media screen and (max-width: 820px) {
  #home {
    flex-direction: column;
    gap: 1rem;
  }
  #home .home-details {
    width: 100%;
  }

  #home .home-image {
    width: 100%;
  }
  .buttons {
    flex-direction: column;
  }
}
@media screen and (max-width: 1024px) {
  .home-details p span {
    display: contents;
  }
}
