.navbar {
  width: 100%;
  justify-content: space-between;
  align-items: center;
  display: flex;
}
.navbar .navbar-logo {
  font-size: 2rem;
  font-family: "Preahvihear", sans-serif;
}
.navlinks {
  display: flex;
  align-items: center;
  gap: 2rem;
  font-size: 1.5rem;
}
.mobile-menu-icon {
  display: none;
  background: none;
  border: none;
  outline: none;
}
.mobile-menu-icon:hover {
  cursor: pointer;
}

@media screen and (max-width: 768px) {
  .navlinks {
    display: none;
  }
  .mobile-menu-icon {
    display: block;
  }
  .navlinks-mobile {
    position: absolute;
    display: flex;
    flex-direction: column;
    gap: 0;
    height: 300px;
    justify-content: center;
    align-items: center;
    right: 0;
    background-color: var(--primary-color);
    border-top-left-radius: 0.5rem;
    border-bottom-left-radius: 0.5rem;
    top: 5rem;
    width: 50%;
    transition: all 0.3s ease;
  }
  .navlinks-mobile a li {
    color: black;
    font-weight: bold;
    width: 100%;
    text-align: center;
  }
  .navlinks-mobile li {
    width: 120px;
    padding: 1rem;

    font-size: 1.5rem;
  }
}

@media screen and (max-width: 400px) {
  .navbar .navbar-logo {
    font-size: 1.5rem;
  }
}
