.navbar {
  width: 100%;
  justify-content: space-between;
  align-items: center;
  display: flex;
}
.navbar .navbar-logo {
  font-size: 2rem;
  font-family: "Preahvihear", sans-serif;
}
.navlinks {
  display: flex;
  align-items: center;
  gap: 2rem;
  font-size: 1.5rem;
}
.mobile-menu-icon {
  display: none;
  background: none;
}

@media screen and (max-width: 768px) {
  .navlinks {
    display: none;
  }
  .mobile-menu-icon {
    display: block;
  }
  .navlinks-mobile {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0;

    height: 35%;
    right: 0;
    background-color: #311a50;
    top: 5rem;
    width: 50%;
    transition: all 0.3s ease;
  }

  .navlinks-mobile li {
    width: 120px;
    padding: 0.8rem;
    text-align: center;
    font-size: 1.5rem;
  }
  /* .navlinks-mobile li:hover {
    background-color: #1a0b2e;
  } */
}

@media screen and (max-width: 400px) {
  .navbar .navbar-logo {
    font-size: 1.5rem;
  }
}
